<meta charset="UTF-8">
<!-- 强制让文档宽度和设备宽度保持1:1，初始缩放比例和最大缩放比例都是1.0，不允许用户缩放页面 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!-- 开启对web app程序的支持 -->
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- 在web app应用下设置 屏幕顶部状态条 的颜色 -->
<meta name="apple-mobile-web-app-status-bar-style" content="#3b9bff">
<!-- 设备浏览网页时对数字不启用电话功能 -->
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="/app/res/css/global.css" type="text/css"/>
<link rel="stylesheet" href="/app/res/css/mod/box.css">
<link rel="stylesheet" href="/app/res/css/mod/box_private.css">
    
<script src="/app/res/libs/flexible/flexible.js"></script>
<script src="/app/res/libs/swiper/swiper.js"></script>
<script src="/app/res/js/jquery-1.8.3.min.js"></script>
<script src="/app/res/js/common.js"></script>