<link rel="stylesheet" href="/admin/res/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/admin/res/vendor/bootstrap/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/admin/res/css/global.css">
<link rel="stylesheet" href="/admin/res/css/style.css">
<link rel="stylesheet" href="/admin/res/css/fjgl/index.css">
<script src="/admin/res/js/jquery-2.1.1.min.js"></script>
<script src="/admin/res/js/bootstrap.min.js"></script>
<script src="/admin/res/js/bootstrap-datetimepicker.min.js"></script>
<script src="/admin/res/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/admin/res/js/jquery.form.min.js"></script>
<script src="/admin/res/js/common.js"></script>
<!-- 表格控件 -->
<script src="/admin/res/js/ui/TableWidget.js"></script>
<!-- 下拉框控件 -->
<script src="/admin/res/js/ui/ComboBoxWidget.js"></script>
<!-- 图片上传预览控件 -->
<script src="/admin/res/js/ui/FileWidget.js"></script>