<aside class="sidebar-nav">
    <ul>
        <li class="">
            <a href="/admin/operateManagement/couponPackageList.html">优惠套餐</a>
        </li>
        <li class="">
            <a href="/admin/operateManagement/couponList.html">优惠券</a>
        </li>
        <li class="">
            <a href="/admin/operateManagement/editSleepActivity.html">试睡活动</a>
        </li>
        <li class="">
            <a href="/admin/operateManagement/editBargainActivity.html">砍价活动</a>
        </li>
    </ul>
</aside>
<script>
(function(){
	$("#menu_operate_management").addClass("on");
})();
</script>