<aside class="sidebar-nav">
    <ul>
        <li class="on">
            <a href="####">房源商户管理</a>
            <!-- 交互说明：在这个tree节点上加入open来控制展开与关闭 -->
            <div class="tree open">
                <ul class="open-list">
                    <li class="tree-item"><a href="/admin/houseMerchantManager/houseList.html">房源录入</a></li>
                    <li class="tree-item"><a href="">房源价格管理</a></li>
                    <li class="tree-item"><a href="">商户管理</a></li>
                    
                </ul>
            </div>
        </li>
        <li class="">
            <a href="####">运营管理</a>
            <!-- 交互说明：在这个tree节点上加入open来控制展开与关闭 -->
            <div class="tree open">
                <ul class="open-list">
                    <li class="tree-item"><a href="">优惠套餐</a></li>
                    <li class="tree-item"><a href="">优惠券</a></li>
                    <li class="tree-item"><a href="">试睡活动</a></li>
                    <li class="tree-item"><a href="">砍价活动</a></li>
                </ul>
            </div>
        </li>
        <li class="">
            <a href="####">订单管理</a>
            <!-- 交互说明：在这个tree节点上加入open来控制展开与关闭 -->
            <div class="tree open">
                <ul class="open-list">
                    <li class="tree-item"><a href="">订单管理</a></li>
                    <li class="tree-item"><a href="">手动录单</a></li>
                    <li class="tree-item"><a href="">房态控制</a></li>
                    
                </ul>
            </div>
        </li>
        <li class="">
            <a href="####">网站管理</a>
            <!-- 交互说明：在这个tree节点上加入open来控制展开与关闭 -->
            <div class="tree open">
                <ul class="open-list">
                    <li class="tree-item"><a href="">首页管理</a></li>
                    <li class="tree-item"><a href="">目的地页管理</a></li>
                    <li class="tree-item"><a href="">小区页管理</a></li>
                    <li class="tree-item"><a href="">别墅详情页管理</a></li>
                    <li class="tree-item"><a href="">专题页管理</a></li>
                    <li class="tree-item"><a href="">攻略</a></li>
                    
                </ul>
            </div>
        </li>
        <li class="">
            <a href="####">新增活动</a>
        </li>
        <li class="">
            <a href="####">活动列表</a>
        </li>
    </ul>
</aside>