<!-- 头部 -->
 <header>
     <div class="head-top clearfix">
         <div class="pull-left">
             <a href="#" class="head-logo"></a>
             <span class="logo-text">市场管理系统</span>
         </div>
         <div class="pull-right head-info">
             欢迎您！
             <a id="headerUserName" href="javascript:void(0)"></a>
             |
             <a href="//oa.fenqile.com/user/modify_pwd.html">修改密码</a>
             |
             <a id="exitBtn" href="javascript:void(0);">退出</a>
         </div>
     </div>
     <nav class="head-nav">
         <ul class="clearfix">
             <li id="daily_operat_data" class="hide">
                 <a href="/factory/index.html">
                      日常经营数据
                 </a>
             </li>
             <li id="house_merchant_management" class="hide">
                 <a href="/admin/houseMerchantManager/houseList.html?c_m=house_merchant_management&c_subm=house_list">
                     房源与商户管理
                 </a>
             </li>
             <li id="operation_management" class="hide">
                 <a href="/admin/operateManagement/addAction.html?c_m=operation_management&c_subm=kanjia_action">
                     <span class="glyphicon glyphicon-map-marker"></span>
                     运营管理
                 </a>
             </li>
             <li id="order_management" class="hide">
             
                 <a href="/admin/orderManagement/orderList.html?c_m=order_management&c_subm=order_list">
                     订单管理
                 </a>
             </li>
             <li id="website_managements" class="hide">
                 <a href="#">
                     
                     网站管理
                 </a>
             </li>
             <li id="operation_content" class="hide">
                 <a href="###">
                     
                     内容运营
                 </a>
             </li>
             <li id="self_operated_villa" class="hide">
                 <a href="###">
                     
                     自营别墅合作
                 </a>
             </li>

         </ul>
     </nav>
 </header>
 <script src="/admin/res/js/topNav.js"></script>